.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 8px; /* Reduce el padding */
  -webkit-box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.2); /* Reduce el sombreado */
  box-shadow: 2px 4px 8px 1px rgba(201, 201, 201, 0.2); /* Reduce el sombreado */
  border-radius: 8px; /* Reduce el borde redondeado */
  height: 90px; /* Disminuye la altura */
  width: 90%; /* Reduce el ancho para que no ocupe todo */
  margin: 0 auto; /* Centra el widget */

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 12px; /* Reduce el tamaño de la fuente */
      color: rgb(120, 120, 120); /* Cambia el color a un gris más tenue */
    }

    .counter {
      font-size: 22px; /* Reduce el tamaño del contador */
      font-weight: 300;
    }

    .link {
      width: max-content;
      font-size: 10px; /* Reduce el tamaño del enlace */
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 12px; /* Reduce el tamaño de la fuente */

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 16px; /* Reduce el tamaño del ícono */
      padding: 3px; /* Reduce el padding del ícono */
      border-radius: 4px; /* Ajusta el borde redondeado */
      align-self: flex-end;
    }
  }
}

.combinedWidget {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  .controls {
    display: flex;
    gap: 8px; /* Reduce el espacio entre los botones */
    margin-top: 5px; /* Reduce el margen superior */
  }

  .controls button {
    background-color: #f9f9f9; /* Ajusta el color de fondo */
    border: 1px solid #ccc; /* Cambia el borde */
    border-radius: 4px; /* Ajusta el borde redondeado */
    padding: 4px 8px; /* Reduce el padding */
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .controls button:hover {
    background-color: #eee; /* Ajusta el color al pasar el ratón */
  }
}
