.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px 40px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  width: auto; /* Ajusta automáticamente al contenido */
  max-width: 300px; /* Limita el ancho máximo */
  height:100px;


  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}

.widgetsContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los widgets */
  padding: 10px 0;
}

.combinedWidget {
  position: center;
  display: center;
  flex-direction: column;
  align-items: center;
  gap: 2px; /* Espacio entre contenido y controles */

  .controls {
    display: flex;
    gap: 6px; /* Espacio pequeño entre los botones */
    margin-top: 5px;

    button {
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    button:hover {
      background-color: #eee;
    }
  }
}