.newContainer {
  flex: 6;
  padding: 20px;

  .top,
  .bottom {
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    padding: 35px;
    margin: 20px;
    margin-bottom: 10px; /* Ajusta el margen inferior aquí */
    display: flex;

    .left {
      flex: 1;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .right {
      flex: 2;

      form {
        display: inline;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;

        input {
          width: calc(50% - 15px); /* Ajusta el ancho del input */
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
        }

        button {
          width: 150px;
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
          margin-top: 10px;
        }
      }
    }
  }
}

.map {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ajusta el número de columnas */
  gap: 8px;
}

.map-cell {
  height: 40px; /* Ajusta la altura de las celdas */
}

.map-cell:hover {
  background-color: #e0e0e0;
}

.icon {
  width: 30px; /* Ajusta el tamaño del ícono */
  height: 30px;
  color: #ffffff;
}