.new {
  width: 100%;
  display: flex;
}

.map {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.map-row {
  display: flex;
}

.map-cell {
  flex: 1;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Color de fondo predeterminado */
}


.map-cell.other-houses-cell {
 
}

.map-cell.pool-cell {
  color:blue
}

.map-cell.restaurant-cell {
  /* Estilos para las celdas con RestaurantIcon */
}

.map-cell.garage-cell {
  /* Estilos para las celdas con GarageIcon */
}

.map-cell.grill-cell {
  /* Estilos para las celdas con GrillIcon */
}

.map-cell:hover {
  background-color: #e0e0e0; /* Cambia de color al pasar el mouse */
}

.map-cell.occupied {
  background-color: #ff9999; /* Color para celdas ocupadas */
}

.icon {
  width: 40px;
  height: 40px;
  color: #ffffff; /* Color del ícono */
}
.newContainer {
  flex: 6;
  padding: 20px;

  .top,
  .bottom {
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    padding: 35px;
    margin: 20px;
    margin-bottom: 10px;
    display: flex;

    .nh1 {
      color: #333;
      font-size: 50px;
      display: inline;
    }

    .left {
      flex: 1;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .right {
      flex: 2;

      form {
        display: inline;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;

        input {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
        }

        button {
          width: 150px;
          padding: 10px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
          margin-top: 10px;
        }
      }
    }
  }
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.place-item {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.selected {
  background-color: #e0e0e0;
}