/* datatable.scss */

.datatable {
  height: 600px;
  padding: 20px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.desocupada {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.mantenimiento {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.ocupado {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }

    &.pagada {
      color: rgb(13, 146, 11);
      font-weight: 800;
    }

    &.seña {
      color: rgb(141, 91, 5);
      font-weight: 800;
    }

    &.parcial {
      color: rgb(155, 145, 10);
      font-weight: 800;

    }

    &.pendiente {
      color: crimson;
      font-weight: 800;
    }
  }

  .cellWithType {
    padding: 5px;
    border-radius: 5px;

    &.Ingreso {
      background-color: rgba(115, 231, 115, 0.285);
      color: rgb(16, 157, 19);
      border-color: rgb(4, 73, 15);
    }

    &.Egreso {
      background-color: rgba(202, 168, 73, 0.276);
      color: rgb(177, 103, 18);
      border-color: rgb(193, 86, 15);
    }
  }

  .styleButtons {
    font-size: 11px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .addButton {
    background-color: #4caf50; /* Verde */
    color: white;
  
    &:hover {
      background-color: #43a047;
    }
  
    &::before {
      content: "➕"; /* Icono de suma */
      font-size: 18px;
      margin-right: 5px;
    }
  }
  
  .historyButton {
    background-color: #2196f3; /* Azul */
    color: white;
  
    &:hover {
      background-color: #79b3e7;
    }
  
    &::before {
      content: "📜"; /* Icono de historia */
      font-size: 18px;
      margin-right: 5px;
    }
  }

 
  
  .pricesButton {
    background-color: #2196f3; /* Azul */
    color: white;
  
    &:hover {
      background-color: #1e88e5;
    }
  
    &::before {
      content: "💰"; /* Icono de historia */
      font-size: 18px;
      margin-right: 5px;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .mantainanceButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(135, 164, 19);
      border: 1px dotted rgba(139, 139, 0, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(20, 50, 220);
      border: 1px dotted rgba(12, 93, 130, 0.6);
      cursor: pointer;
    }

    .cancelButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }

    .stateButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: green;
      border: 1px dotted rgba(55, 158, 91, 0.6);
      cursor: pointer;
    }

    .arrivalButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: green;
      border: 1px dotted rgba(55, 158, 91, 0.6);
      cursor: pointer;
    }

    .commentButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(149, 149, 61);
      border: 1px dotted rgba(149, 149, 11, 0.778);
      cursor: pointer;
    }
    
    .statusButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(186, 50, 143);
      border: 1px dotted rgba(119, 158, 55, 0.6);
      cursor: pointer;
    }
    .modifyButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(14, 159, 152);
      border: 1px dotted rgba(119, 158, 55, 0.6);
      cursor: pointer;
    }

    .MuiTooltip-tooltip {
      opacity: 1 !important;
    }

    .cellStatus {
      border-radius: 5px;

      &.Completada {
        background-color: rgba(170, 221, 170, 0.05);
        color: rgb(13, 182, 72);
        border-color: green;
      }

      &.Cancelada {
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
        border-color: red;
      }

      &.Activa {
        background-color: rgba(170, 221, 170, 0.05);
        color: rgb(13, 182, 72);
        border-color: green;
      }
      &.Pendiente {
        background-color: rgba(170, 221, 170, 0.05);
        color: rgb(218, 228, 33);
        border-color: rgb(122, 128, 9);
      }
    }
  }

  /* Estilos para el gráfico de barras */
  .bar-chart {
    margin-top: 20px;
  }

  .bars {
    display: flex;
    justify-content: space-around;
  }

  .bar {
    width: 100px; /* Ancho de las barras */
    height: 300px; /* Altura máxima de las barras */
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo de las barras */
    border-radius: 5px;
    overflow: hidden; /* Para ocultar el contenido que sobresale */
    display: flex;
    flex-direction: column-reverse; /* Para que el contenido crezca hacia arriba */
  }

  .bar-value {
    background-color: #3f51b5; /* Color de las barras */
    flex-grow: 1; /* Hace que la barra ocupe todo el espacio disponible */
    transition: height 0.5s; /* Transición suave al cambiar la altura */
  }

  .bar-label {
    text-align: center;
    color: white;
    font-weight: bold;
  }

  /* Estilos para el modal */
  .modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
  }

  .modalContent h2 {
    margin-bottom: 20px;
  }

  .modalContent select {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .modalContent button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }

  .modalContent button:hover {
    background: #0056b3;
  }

  .modalContent .cancelButton {
    background: #dc3545;
  }

  .modalContent .cancelButton:hover {
    background: #c82333;
  }
}


