.list {
  display:flex;
  width: 100%;

  .listContainer {
    flex: 6;

    .stateButton {
      padding: 2px 52px;
      border-radius: 5px;
      color: green;
      border: 1px dotted rgba(55, 158, 91, 0.6);

    }

  

    .charts {
      padding: 5px 5px;
    }
  }

  
}
