.home {
  display: flex;

  .homeContainer {
    flex: 6;
    padding-top: 0; /* Elimina el espacio vacío superior */

    h2 {
      margin-bottom: 20px; /* Ajusta la separación debajo del título */
    }

    .financialWidgets {
      display: flex;
      justify-content: space-between; /* Widgets financieros en una fila */
      gap: 20px; /* Espacio entre cada widget */
      margin-bottom: 20px; /* Espacio debajo de los widgets financieros */
    }

    .occupationWidgets {
      display: flex;
      justify-content: space-between; /* Widgets de ocupación en una fila */
      gap: 20px;
    }

    .charts {
      display: flex;
      justify-content: space-between; /* Distribuye mapa y notificaciones */
      padding: 5px 20px;
    }

    .employeeCalendar {
      margin: 0 20px 30px 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    
      h3 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #333;
      }
    
      .calendarCard {
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid #e0e0e0;
      }
    
      .rbc-calendar {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
      }

      buttonEdit {
        padding: 5px 5px;
        font-size: 13px;
        background-color: #686f77; // azul estilo MUI
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 400;
        transition: background-color 0.3s ease;
      
        &:hover {
          background-color: #1565c0;
        }
      
        &:disabled {
          background-color: #90caf9;
          cursor: not-allowed;
        }
      }
      
      
    }
    
  }
}


