.hero{
    position:fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

.heroImg{
    width: 10000px;
    object-fit: cover;
}

.hero-text{
    position:fixed;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    color: aliceblue;
  
    
}

.hero-text p{
    font-size: 1.3rem;
    color: aliceblue;
    padding: 4rem 0 rem;
   
}
